.footer {
    padding-top: 50px;
    height: 220px;
    background-color: black;
    opacity: 0.8;
    padding-top: 10px;
    color: rgb(105, 104, 104);
    text-align: start;
}

.footer .top {
    margin-top: 20px;
    text-align: start;
    margin-left: 108px;
}

.footer .links {
    margin-left: 100px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.footer .language {
    padding-top: 20px;
}